<div class="row">
    <div class="col-sm-3" ng-repeat="(key, value) in vm.matchKills">
            <div class="row m-2">
                <div class='col-sm-12'>
                    {{ key }}
                    <i class="fas fa-user-circle" ng-style="{ color: value.color }"></i>
                </div>
            </div>
            <div class="row m-2">
                <div class='col-sm-12'>
                    <div style="background-color: #f6f6f6;" ng-repeat="dmg in value.dmg | orderBy:'time'">
                        <button style="position: relative;background-color: transparent;color: #2b2e28;display: block;width: 100%;text-align: left;">
                            <span style="display: table;width: 100%;table-layout: fixed;">
                                <span style="display: table-cell;vertical-align: middle;width: auto;">
                                    <span style="padding-left: 4px;display: block;">
                                        <span style="display: block;position: relative;width: auto;vertical-align: top;">
                                            <span style="display: inline-block;max-width: 100%;vertical-align: top;position: relative">
                                                <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #2b2e28;font-weight: 700;">{{ dmg.target }}</span>
                                                <span style="display: inline-block;margin-left: 5px;font-size: 12px;color: #9a9797;white-space: nowrap;width: 50px">{{ dmg.total_dmg | number: 2 }}</span>
                                                <i ng-show="dmg.killer !== 0" class="fas fa-user-circle" ng-style="{ color: dmg.killer }"></i>
                                            </span>
                                        </span>
                                        <div style="height: 75px;overflow: auto;border: 0px solid #eaeaea;background-color: transparent;">
                                            <span ng-repeat="event in dmg.attacks | orderBy:['time', 'AttackId']" style="display: block;position: relative;width: auto;vertical-align: top;">
                                                <span style="color: #696969;font-size: 12px;">{{ event.time | secondsToHHmmss }}</span>
                                                <span style="display: inline-block;color: #dd8700;font-size: 12px;width: 50px">{{ event.weapon }}</span>
                                                <span style="display: inline-block;margin-left: 5px;font-size: 12px;color: #9a9797;white-space: nowrap;width: 50px">
                                                    {{ event.Damage | number: 2 }}
                                                </span>
                                                <span style="display: inline-block;font-size: 12px;color: #9a9797;white-space: nowrap;width: 50px">
                                                    {{ event.DamageReason | attack }}
                                                </span>
                                            </span>
                                        </div>
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
    </div>
</div>