<div class="row m-2">
    <div class='col-sm-8 offset-2'>
        <div class="dropdown show">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Game Type</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a ng-repeat="type in vm.types" class="dropdown-item" href="#" ng-click="vm.getStats(type)">{{ type }}</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class='col-sm-8 offset-2'>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Games</th>
                    <th>Wins</th>
                    <th>Win %</th>
                    <th>Kills/Deaths</th>
                    <th>KDR</th>
                    <th>Avg Dmg</th>
                    <th>DBNO</th>
                    <th>Ran out of Gas</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in vm.stats | orderBy:'-rounds'">
                    <td><a href="#!/player/{{ player.name }}">{{ player.name }}</a></td>
                    <td>{{ player.rounds }}</td>
                    <td>{{ (player.rounds - player.deaths) }}</td>
                    <td>{{ ((player.rounds - player.deaths) / player.rounds * 100) | number:2 }}</td>
                    <td>{{ player.kills }}/{{ player.deaths }}</td>
                    <td>{{ (player.kills / player.deaths) | number:3 }}</td>
                    <td>{{ (player.dmg / player.rounds) | number: 2 }}</td>
                    <td>{{ player.dbno }}</td>
                    <td>{{ player.name === 'BigGoof20' ? '1' : '0' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class='col-sm-8 offset-2'>
        <h3>Favorite Weapons</h3>
        <table class="table table-striped table-condensed">
            <tbody>
                <tr ng-repeat="player in vm.weapons">
                    <td>{{ player.name }}</td>
                    <td ng-repeat="weapon in player.weapons| orderBy: '-kills' |limitTo:5">
                        {{ weapon.name }} ({{ weapon.kills }})
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>